.catalog {
  position: relative;
}

.catalog__wrapper {
  max-width: 1440px;
  margin: 0 auto;

  @include vp-1200 {
    width: 100%;
  }
}

.catalog__container {
  padding: 95px 120px;
  position: relative;

  @include vp-1440 {
    padding: 67px 45px 62px;
  }

  @include vp-1200 {
    padding: 67px 45px 62px;
  }

  @include vp-768 {
    padding: 50px 15px 40px;
  }
}

.catalog__content {
  padding-top: 24px;

  @include vp-1200 {
    padding: 22px 5px;
  }

  @include vp-768 {
    padding: 0;
    padding-top: 7px;
  }
}

.catalog__header {
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  position: relative;
  z-index: 10;

  @include vp-1200 {
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-768 {
    width: 60%;
    font-size: 22px;
    line-height: 22px;
  }
}

.catalog__header::after {
  content: 'Ближайшие туры';
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  color: $color-default-dark;
  opacity: 0.03;

  @include vp-1200 {
    font-size: 40px;
    line-height: 40px;
  }

  @include vp-768 {
    font-size: 26px;
    line-height: 26px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__item {
  position: relative;

  &:focus-visible {
    outline: solid 1px $color-resolution-blue;
  }
}

.catalog__overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: $color-default-white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 61.90%, rgba(0, 0, 0, 0.00) 100%);
  height: 100%;
  width: 100%;
  padding: 20px 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.catalog__top-features {
  //margin-top: 186px;
  display: flex;
  justify-content: flex-start;
  gap: 37px;
  margin-bottom: 23px;

  @include vp-1440 {
    margin-top: 160px;
    gap: 17px;
  }

  @include vp-1200 {
    margin-top: 186px;
    gap: 17px;
  }

  @include vp-768 {
    margin-top: 175px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 76px 82px 1fr;
  }
}

.catalog__days {
  @include vp-768 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.catalog__nights {
  @include vp-768 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.catalog__location {
  background-color: $color-navy-blue;
  padding: 8px 22px 9px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  gap: 6px;

  &--kavkaz {
    padding-right: 26px;
  }

  &--altai {
    padding-right: 31px;
  }

  @include vp-1200 {
    padding: 8px 15px 9px;

    &--kavkaz {
      padding-right: 25px;
    }

    &--altai {
      padding-right: 24px;
    }
  }

  @include vp-768 {
    max-width: 96px;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
}

.catalog__days,
.catalog__nights {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.catalog__star-icon {
  margin-right: 0;
}

.catalog__card-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  margin-bottom: 37px;
  position: relative;

  @include vp-768 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.catalog__class-header::after {
  content: "";
  position: absolute;
  top: 73px;
  left: 0;
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog__bottom-features {
  display: flex;
  justify-content: flex-start;
  gap: 50px;

  @include vp-1440 {
    gap: 35px;
  }

  @include vp-1200 {
    gap: 0;
    justify-content: space-between;
  }
}

.catalog__bottom-feature {
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}

.catalog__star-icon {
  @include vp-768 {
    width: 12px;
    height: 11px;
  }
}

.catalog__bottom-feature span {
  display: inline-block;
  font-weight: 14px;
  font-weight: 700;
  padding-top: 8px;
  padding-left: 2px;
}

.catalog__slider-buttons {
  position: absolute;
  top: 145px;
  right: 120px;
  display: flex;
  gap: 4px;

  @include vp-1440 {
    right: 45px
  }

  @include vp-1200 {
    top: 105px;
    right: 45px;
  }

  @include vp-768 {
    right: 15px;
    top: 91px;
  }
}

.catalog__button {
  width: 37px;
  height: 35px;
  background-color: $color-navy-blue;
  position: static;
  border: solid 1px $color-navy-blue;
  color: $color-default-white;

  &:hover,
  &:focus-visible {
    background-color: $color-default-white;
    border: solid 1px $color-resolution-blue;
    color: $color-resolution-blue;
    outline: none;
  }

  &:active {
    background-color: $color-resolution-blue;
  }
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: "←";
  font-family: $ff-primary;
  color: inherit;
  font-size: 18px;
  padding-bottom: 3px;
}

.swiper-button-prev:hover:after, .swiper-rtl .swiper-button-next:hover:after {
  color: $color-resolution-blue;
}

.swiper-button-prev:active:after, .swiper-rtl .swiper-button-next:active:after {
  color:$color-default-white;
}

.swiper-button-prev:focus-visible:after, .swiper-rtl .swiper-button-next:focus-visible:after {
  color: $color-resolution-blue;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: "→";
  font-family: $ff-primary;
  color: $color-default-white;
  font-size: 18px;
  padding-bottom: 3px
}

.swiper-button-next:hover:after, .swiper-rtl .swiper-button-prev:hover:after {
  color: $color-resolution-blue;
}

.swiper-button-next:active:after, .swiper-rtl .swiper-button-prev:active:after {
  color:$color-default-white;
}

.swiper-button-next:focus-visible:after, .swiper-rtl .swiper-button-prev:focus-visible:after {
  color: $color-resolution-blue;
}

.catalog__stars {
  margin-top: 8px;
}

.catalog__link-container {
  display: flex;
  justify-content: center;
  margin-top: 52px;
  position: relative;
  z-index: 10;

  @include vp-1200 {
    margin-top: 28px;
  }

  @include vp-768 {
    margin-top: 29px;
  }
}

.catalog__link {
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
  letter-spacing: 0.64px;
  text-transform: uppercase;
  text-align: center;

  @include vp-768 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }
}

.catalog__link:hover {
  color: $color-resolution-blue;
}

.catalog__link:active {
  color: $color-navy-blue;
}

.catalog__link:focus-visible {
  color: $color-resolution-blue;
  outline: none;
}

.catalog__link:focus-visible {
  color: $color-resolution-blue;
}

.catalog__link:disabled {
  color: rgba(2, 102, 193, 0.10);
}

.catalog__link-icon {
  margin-left: 5px;
  color: inherit;
}

.catalog__background-big {
  position: absolute;
  top: -20px;
  right: 0;

  @include vp-1200 {
    top: -95px;
  }

  @include vp-1200 {
    bottom: -96px;
    top: auto;
  }
}

.catalog__background-small {
  position: absolute;
  top: 502px;
  left: 0;
}

.catalog__image {
  width: 100%;
  height: auto;
}

.catalog__image picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.catalog__background-big picture img {
  @include vp-1200 {
    width: 294px;
    height: 1364px;
  }

  @include vp-768 {
    width: 176px;
    height: 595px;
  }
}
