.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  width: 370px;

  @include vp-1200 {
    padding: 4px 0 3px;
    width: 266px;
  }

  @include vp-768 {
    padding: 4px 0 3px;
    width: 100%;
    min-width: 290px;
  }

  label {
    display: flex;
    align-items: flex-start;
    width: 100%;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    input,
    textarea {
      flex-grow: 1;
      max-width: 340px;
      min-height: 64px;
      margin-left: 0;
      padding: 10px 30px;

      border: 2px solid $color-default-white;
      outline: none;

      transition: border 0.3s ease;

      @include vp-1200 {
        min-height: 50px;
        padding: 10px 13px;
        max-width: 350px;
      }

      @media screen and (max-width: 767px) {
        max-width: unset;
        width: 100%;
      }

      &:active {
        border: 1px solid $color-resolution-blue;
        color: $color-resolution-blue;
      }

      &:hover {
        border: 1px solid $color-navy-blue;
      }

      &:focus {
        outline: none;
        border: 1px solid $color-resolution-blue;
      }

      &:disabled {
        color: $color-default-white;
        border-bottom: solid 1px $color-default-white;
      }

      &:hover::placeholder {
        color: $color-navy-blue;
      }
    }

    input::placeholder {
      font-size: 16px;

      &:hover {
        color: $color-navy-blue;
      }

      @include vp-1200 {
        font-size: 14px;
      }
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid #ff1553;

      &:focus,
      &:hover {
        border: 1px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 1px solid $color-resolution-blue;

      &:focus {
        border: 1px solid $color-resolution-blue;
      }

      &:hover {
        border: 1px solid $color-navy-blue;
        color: $color-navy-blue;
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
