.footer {
  background-color: $color-default-white;
  color: $color-default-dark;
}

.footer__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 120px;

  @include vp-1440 {
    padding: 44px 50px 40px 45px;
  }

  @include vp-1200 {
    padding: 44px 50px 39px 45px;
  }

  @include vp-768 {
    padding: 30px 20px;
  }
}

.footer__navbar {
  //display: grid;
  //grid-template-columns: 205px 1fr 142px;
  margin-bottom: 15px;
  //gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include vp-1200 {
    display: grid;
    grid-template-columns: 118px 1fr;
    margin-bottom: 37px;
  }

  @include vp-768 {
    display: block;
    margin-bottom: 5px;
  }
}

.footer__logo {
  width: 205px;
  height: 62px;

  @include vp-1200 {
    width: 120px;
    height: 34px;
  }

  @include vp-768 {
    width: 112px;
    height: 34px;
    margin-bottom: 15px;
  }
}

.footer__logo-desktop {
  @include vp-1200 {
    display: none;
  }

  @include vp-768 {
    display: none;
  }
}

.footer__logo-tablet {
  display: none;

  @include vp-1200 {
    display: block;
  }

  @include vp-768 {
    display: none;
  }
}

.footer__logo-mobile {
  display: none;

  @include vp-768 {
    display: block;
  }
}

.footer__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  margin: auto;
  padding: 0;
  padding-right: 60px;
  padding-top: 5px;
  color: inherit;
  font-size: 16px;
  line-height: 100%;

  @include vp-1200 {
    margin-right: 0;
    font-size: 14px;
    padding-right: 0;
    gap: 21px;
    padding-bottom: 10px;
  }

  @include vp-768 {
    display: block;
    column-count: 2;
    column-gap: 33px;
  }
}

.footer__item {
  border-bottom: solid 1px $color-default-white;

  &:hover {
    border-bottom: solid 1px $color-default-dark;
  }

  &:active {
    border-bottom: solid 1px $color-default-white;
  }
  @include vp-768 {
    margin-bottom: 14px;
  }
}

.footer__link:focus-visible,
.footer__logo-link:focus-visible,
.footer__phone:focus-visible {
  outline: solid 1px $color-default-dark;
  outline-offset: 2px;
}

.footer__phone-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__phone {
  font-weight: 600;
  color: inherit;
  margin: auto;
  margin-right: 0;
  font-size: 18px;
  grid-column: 3 / 4;

  &:hover {
    color: $color-resolution-blue;
  }

  &:focus-visible {
    color: $color-resolution-blue;
    outline: none;
  }

  &:active {
    color: $color-navy-blue;
  }

  &:disabled {
    color: rgba(2, 102, 193, 0.10);
  }

  @include vp-1200 {
    display: none;
  }
}

.footer__social-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  @include vp-768 {
    justify-content: flex-start;
  }
}

.footer__social-item {
  width: 30px;
  height: 30px;
  border: solid 1px $color-black-border;
  padding: 5px;

  &:hover {
    border: solid 1px $color-default-dark;
  }

  &:active {
    background-color: $color-navy-blue;
    border: solid 1px $color-navy-blue;
    color: $color-default-white;
  }

  &:focus-visible {
    outline: solid 1px $color-default-dark;
  }
}

.footer__social-item:not(:last-child) {
  margin-right: 15px;
}

.footer__social-link {
  line-height: normal;
  margin: auto;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus-visible {
    outline: none;
  }
}

.footer__policy-block {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;

  @include vp-1200 {
    justify-content: center;
  }

  @include vp-768 {
    justify-content: flex-start;
  }
}

.footer__policy {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  max-width: 200px;
  margin: 0 auto;

  @include vp-768 {
    text-align: start;
    margin: 0;
  }
}
