.form__container {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../img/form/background-desktop.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #3c4132;

  @include vp-1200 {
    background-image: url("../img/form/background-tablet.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: #3c4132;
  }

  @include vp-768 {
    background-image: url("../img/form/background-mobile.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: #3c4132;
  }
}

.form__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 312px 140px 307px 120px;

  @include vp-1440 {
    padding: 312px 45px 170px;
  }

  @include vp-1200 {
    padding: 195px 45px 182px;
  }

  @include vp-768 {
    padding: 180px 15px 175px;
  }
}

.form__header {
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 35px;
  color: $color-default-white;
  margin: 0;

  @include vp-1200 {
    font-size: 25px;
    line-height: 25px;
    //padding-left: 16px;
    margin-bottom: 5px;
  }

  @include vp-768 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 2px;
    padding-left: 0;
  }
}

.form__text {
  color: $color-default-white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 42px;

  @include vp-1200 {
    width: 50%;
    text-align: center;
    //padding-left: 16px;
    margin-bottom: 24px;
  }

  @include vp-768 {
    width: 100%;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 21px;
    padding-left: 0;
  }
}

.form__content form {
  display: flex;
  padding-left: 20px;

  @include vp-1200 {
    flex-direction: column;
    padding-left: 0;
  }

  @include vp-768 {
    padding-left: 0;
    width: 100%;
  }
}

form fieldset {
  display: flex;
  border: none;
  padding: 0;

  @include vp-1200 {
    flex-direction: column;
    padding-left: 1px;
    margin: 0;
    margin-bottom: 12px;
  }

  @include vp-768 {
    margin-bottom: 5px;
    padding-left: 0;
  }
}

.form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 238px;
  background-color: $color-navy-blue;
  color: $color-default-white;
  border: solid 1px $color-navy-blue;
  font-size: 16px;
  cursor: pointer;

  @include vp-1200 {
    width: 100%;
    padding: 19px 0;
  }

  @include vp-768 {
    padding: 16px 0;
  }
}

.form__submit:hover {
  background-color: $color-default-white;
  color: $color-resolution-blue;
  border: solid 1px $color-resolution-blue;
}

.form__submit:active {
  background-color: $color-resolution-blue;
  color: $color-default-white;
  border: solid 1px $color-resolution-blue;
}

.form__submit:focus-visible {
  outline: none;
  background-color: $color-default-white;
  color: $color-resolution-blue;
  border: solid 1px $color-resolution-blue;
}

.form__submit:disabled {
  opacity: 0.1;
}
