.form__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.form__content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 312px;
  padding-right: 16px;

  @include vp-1200 {
    padding-top: 195px;
  }

  @include vp-768 {
    padding-top: 182px;
  }
}

.form__header {
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 35px;
  color: $color-default-white;
  margin: 0;

  @include vp-1200 {
    font-size: 25px;
    line-height: 25px;
    padding-left: 16px;
    margin-bottom: 5px;
  }

  @include vp-768 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 2px;
  }
}

.form__text {
  color: $color-default-white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 42px;

  @include vp-1200 {
    width: 45%;
    text-align: center;
    padding-left: 16px;
    margin-bottom: 24px;
  }

  @include vp-768 {
    width: 100%;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 21px;
  }
}

.form__content form {
  display: flex;
  padding-left: 14px;

  @include vp-1200 {
    flex-direction: column;
  }

  @include vp-768 {
    padding-left: 15px;
  }
}

.form__content form fieldset {
  display: flex;
  border: none;
  padding: 0;

  @include vp-1200 {
    flex-direction: column;
    padding-left: 1px;
    margin: 0;
    margin-bottom: 12px;
  }

  @include vp-768 {
    margin-bottom: 5px;
    padding-left: 0;
  }
}

.form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 238px;
  background-color: $color-navy-blue;
  color: $color-default-white;
  border: solid 1px $color-navy-blue;
  font-size: 16px;

  @include vp-1200 {
    width: 100%;
    padding: 19px 0;
  }

  @include vp-768 {
    padding: 16px 0;
  }
}

