.gallery {
  position: relative;
  margin-top: 130px;

  @include vp-1200 {
    margin-top: 0;
  }
}

.gallery__container {
  padding: 0 120px;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 43px;
  width: 100%;

  @include vp-1440 {
    padding: 24px 45px 0;
  }

  @include vp-1200 {
    padding: 0 25px 0;
    margin-bottom: 0;
  }

  @include vp-768 {
    padding: 20px 15px 0;
    margin-bottom: 15px;
  }
}

.gallery__header {
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  position: relative;
  margin: 0;
  margin-bottom: 25px;

  @include vp-1200 {
    font-size: 25px;
    line-height: 24px;
    margin-bottom: 22px;
    padding-left: 20px;
  }

  @include vp-768 {
    width: 60%;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 15px;
    padding-left: 0;
  }
}

.gallery__header::after {
  content: attr(data-header) "";
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 55px;
  font-weight: 800;
  line-height: 55px;
  color: $color-default-dark;
  opacity: 0.03;

  @include vp-1200 {
    font-size: 40px;
    line-height: 40px;
    padding-left: 20px;
  }

  @include vp-768 {
    font-size: 26px;
    line-height: 26px;
    padding-left: 0;
  }
}

.gallery__slider-buttons {
  position: absolute;
  bottom: 8px;
  right: 120px;
  display: flex;
  gap: 4px;

  @include vp-1440 {
    bottom: 0;
    right: 45px;
  }

  @include vp-1200 {
    bottom: 21px;
    right: 45px;
  }

  @include vp-768 {
    right: 15px;
    bottom: 2px;
  }
}

.gallery__button {
  width: 37px;
  height: 35px;
  background-color: $color-navy-blue;
  position: static;
  border: none;

  &:hover,
  &:focus-visible {
    background-color: $color-default-white;
    border: solid 1px $color-resolution-blue;
    color: $color-resolution-blue;
    outline: none;
  }

  &:active {
    background-color: $color-resolution-blue;
  }
}

.gallery__container p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  width: 70%;

  @include vp-1200 {
    width: 60%;
    margin-bottom: 33px;
    padding-left: 20px;
    font-size: 14px;
    font-style: normal;
  }

  @include vp-768 {
    font-size: 12px;
    line-height: 18px;
    width: 100%;
    padding-bottom: 49px;
    margin-bottom: 0;
    padding-left: 0;
  }
}

.gallery__list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 450px;
}

.gallery__img-big {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__image-big {
  background-color: #2b8eff;
}

.gallery__small-pic-top {
  background-color: #1d6639;
}

.gallery__small-pic {
  background-color: #0bb49e;
}

.gallery__img-small {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item {
  display: grid;
  grid-template-columns: 46% 53%;
  column-gap: 6px;
  height: 100%;
  object-fit: cover;

  @include vp-1200 {
    grid-template-columns: 46.6% 1fr;
    column-gap: 6px;
    width: fit-content;
  }

  @include vp-768 {
    row-gap: 3px;
    grid-template-columns: 49.5% 50%;
  }
}

.gallery__small-pics-wrapper {
  display: grid;
  grid-template-rows: 179px 265px;
  row-gap: 5px;

  @include vp-768 {
    grid-template-rows: 103px 153px;
    row-gap: 3px;
  }
}
