.header {
  background-color: $color-default-dark;
  color: $color-default-white;
}

.header__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header__nav-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 120px 0;
  background-color: $color-transparent;
  position: absolute;
  z-index: 10;

  @include vp-1440 {
    padding: 40px 45px;
  }

  @include vp-1200 {
    width: 100%;
    padding: 0;
  }

  @include vp-768 {
    padding: 0;
  }
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: $color-transparent;
  color: $color-default-white;

  @include vp-1200 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    position: relative;
  }

  @include vp-768 {
    padding: 0;
    row-gap: 15px;
    align-items: flex-start;
  }
}

.header__navbar--open {
  @include vp-1200 {
    color: $color-default-dark;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: $color-default-white;
  }
}

.header__navbar--closed {
  @include vp-1200 {
    background-color: transparent;
    color: $color-default-white;
  }
}

.header__logo-link {
  color: inherit;
  padding: 0;
  margin: 0;
  display: block;
  text-decoration: none;
  line-height: normal;
}

.header__overlay {
  display: flex;
  align-items: center;

  @include vp-1200 {
    display: block;
  }
}

.header__overlay--hidden {
  @include vp-1200 {
    display: none;
  }
}

.header__overlay--open {
  padding-top: 25px;

  @include vp-1200 {
    padding-top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    top: 80px;
    left: 0;
    z-index: -1;
  }
}

.header__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: auto;
  padding: 0;
  color: inherit;
  font-size: 16px;
  line-height: 100%;


  @include vp-1200 {
    flex-direction: column;
    gap: 26px;
    letter-spacing: 0.56px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 125px 45px 70px;
    margin-top: -80px;
    background-color: $color-default-white;
    width: 100%;
    max-height: 100%;
    flex-wrap: nowrap;
    overflow-y: scroll;
  }

  @include vp-768 {
    font-size: 14px;
    padding-top: 10px;
    gap: 22px;
    padding: 100px 15px 50px;
    letter-spacing: 0.56px;
  }
}

.header__list--hidden {
  @include vp-1200 {
    display: none;
  }
}

.header__link {
  color: inherit;
  cursor: pointer;

  @include vp-1200 {
    font-weight: 700;
    text-transform: uppercase;
  }
}

.header__item {

  @include vp-1200 {
    width: 100%;
  }
}

.header__item:hover {
  border-bottom: solid 1px $color-default-white;
}

.header__item:active {
  border-bottom: solid 1px $color-transparent;
}

.header__link:focus-visible,
.header__logo-link:focus-visible {
  outline: solid 1px $color-default-white;
  outline-offset: 2px;
}

.header__phone-block {
  margin-right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header__phone {
  font-weight: 600;
  color: inherit;
  margin: auto;
  font-size: 18px;

  &:hover {
    color: $color-resolution-blue;
  }

  &:focus-visible {
    color: $color-resolution-blue;
    outline: none;
  }

  &:active {
    color: $color-navy-blue;
  }

  &:disabled {
    color: rgba(2, 102, 193, 0.10);
  }


  @include vp-1200 {
    margin: auto;
    padding-top: 3px;
    font-size: 16px;
  }

  @include vp-768 {
    margin-right: 0;
    margin-left: auto;
    font-size: 14px;
    padding-top: 0;
  }
}

.header__nav-buttons {
  display: none;
  color: inherit;

  @include vp-1200 {
    display: flex;
    position: relative;
    margin-top: 22px;
    top: 30px;
    left: 45px;
  }

  @include vp-768 {
    margin-top: 10px;
    background-color: $color-default-white;
    top: 15px;
    left: 15px;
  }
}

.header__menu-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header__menu-button--hidden {
  display: none;
}

.header__logo {

  @include vp-1200 {
    margin-left: auto;
    margin-right: auto;
  }

  @include vp-768 {
    margin-right: 0;
  }
}

.header__logo-img {
  width: 205px;
  height: 62px;
  color: inherit;

  @include vp-1200 {
    width: 144px;
    height: 44px;
    margin: auto;
    color: inherit;
    margin-left: 125px;
  }

  @include vp-768 {
    width: 112px;
    height: 34px;
    margin-right: 0;
    margin-left: auto;
  }
}

.header__another-useless-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include vp-1200 {
    padding: 30px 45px;
  }

  @include vp-768 {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
}

.header__another-useless-wrapper--open {
  background-color: $color-default-white;
}
