.map__id {
  height: 324px;
  width: 100%;
  background-image: url("../img/map/map-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 585px auto;
  background-position: top center;
  background-color: #04723b;

  @include vp-1200 {
    height: 340px;
    width: 100%;
    background-image: url("../img/map/map-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 678px auto;
    background-position: top center;
    background-color: #04723b;
  }

  @include vp-768 {
    height: 320px;
    width: 100%;
    background-image: url("../img/map/map-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 290px auto;
    background-position: top center;
    background-color: #04723b;
  }
}

.map__id:focus-visible {
  outline: none;
}
