.podcast {
  margin-top: 99px;
  width: 340px;
  height: 220px;
  //border: 2px solid $color-default-white;
  //background: rgba(245, 246, 250, 0.90);
  padding: 0;

  @include vp-1200 {
    margin: 0 auto;
    margin-top: 34px;
  }
}

.podcast__content {
  display: none;
}

.podcast__header {
  color:$color-resolution-blue;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.podcast__tag {
  display: flex;
  margin-bottom: 10px;
}

.podcast__tag a {
  margin-right: auto;
}

.podcast__button {
  color: $color-resolution-blue;
  border: none;
  background: transparent;
  padding: 0;
}

.podcast__tag .podcast__button:first-of-type {
  margin-right: 13px;
}

.podcast__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.podcast__controls-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.podcast__progress-bar {
  position: relative;
  width: 100%;
  margin-bottom: 13px;
}

.podcast__bar-1 {
  width: 100%;
  height: 2px;
  background-color: $color-resolution-blue;
  opacity: .4;
  position: absolute;
  margin-bottom: 8px;
}

.podcast__bar-2 {
  width: 55%;
  height: 2px;
  background-color: $color-resolution-blue;
  margin-bottom: 8px;
}

.podcast__bar-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $color-resolution-blue;
  position: absolute;
  top: -3px;
  left: 55%;
}

.podcast__bar-text {
  font-size: 10px;
  color: $color-resolution-blue;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}
