.process__list {
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  column-gap: 32px;
  border-bottom: solid 2px rgba(2, 102, 193, 0.2);
  padding: 0 120px;
  position: relative;

  @include vp-1440 {
    padding: 0 45px 32px;
    column-gap: 15px;
  }

  @include vp-1200 {
    padding: 0 45px 32px;
    border-bottom: none;
    grid-template-columns: 1.1fr 1fr;
    gap: 56px 0;
  }

  @include vp-768 {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
  }
}

.process__list::before {
  @include vp-768 {
    width: 2px;
    height: 183px;
    content: "";
    background-color: rgba(2, 102, 193, 0.2);
    position: absolute;
    top: 15px;
    left: 24px;
  }
}

.process__item {
  display: grid;
  grid-template-columns: 25px 235px;
  column-gap: 15px;
  padding-bottom: 33px;
  position: relative;

  &::after {
    content: "";
    width: 13px;
    height: 13px;
    background-color: $color-navy-blue;
    border-radius: 50%;
    position: absolute;
    bottom: -8px;
    left: 0;
  }

  &--last {
    order: 1;
  }

  @include vp-1200 {
    grid-template-columns: 25px 220px;
    padding-top: 8px;
    padding-bottom: 16px;

    &--last {
      order: 0;
    }

    &:first-child,
    &:nth-child(4n-1) {
      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 5px;
        width: 100%;
        height: 2px;
        background: rgba(2, 102, 193, 0.2);
      }
    }

    &:nth-child(4n-1) {
      padding-bottom: 0;
      padding-top: 20px;

      &::after {
        top: -8px;
        bottom: inherit;
      }

      &::before {
        content: "";
        position: absolute;
        top: -2px;
        left: 5px;
        width: 100%;
        height: 2px;
        background: rgba(2, 102, 193, 0.2);
      }

      &:nth-child(4n) {
        padding-bottom: 0;
        padding-top: 20px;

        &::after {
          top: -8px;
          bottom: inherit;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 5px;
          width: 2px;
          height: 90%;
          background: rgba(2, 102, 193, 0.2);
        }
      }
    }

    &:last-child {
      &::after {
        top: -8px;
        bottom: inherit;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 5px;
        width: 2px;
        height: 90%;
        background: rgba(2, 102, 193, 0.2);
      }
    }
  }

  @include vp-768 {
    grid-template-columns: 19px 190px;
    column-gap: 12px;
    padding: 0;
    padding-left: 38px;

    &--last {
      order: 1;
    }

    &::after {
      top: 13px;
      left: 4px;
    }

    &:first-child,
    &:nth-child(4n-1) {
      &::before {
        display: none;
      }
    }

    &:nth-child(4n-1) {
      padding-bottom: 0;
      padding-top: 0;

      &::after {
        top: 13px;
        left: 4px;
      }

      &::before {
        display: none;
      }

      &:nth-child(4n) {
        padding-bottom: 0;
        padding-top: 20px;

        &::after {
          top: 0;
        }

        &::before {
          display: none;
        }
      }
    }

    &:last-child {
      &::after {
        top: 13px;
        left: 4px;
      }

      &::before {
        display: none;
      }
    }
  }
}

.process__item p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;

  @include vp-1200 {
    font-size: 14px;
    line-height: 22px;
  }

  @include vp-768 {
    font-size: 12px;
    line-height: 18px;
  }
}

.process__icon {
  margin: auto;

  @include vp-768 {
    width: 19px;
    height: auto;
  }
}

.process__subheader {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
  margin-bottom: 41px;
  margin-left: 8.5%;

  @include vp-1440 {
    margin-left: 4%;
  }

  @include vp-1200 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 32px;
    margin-left: 6%;
  }

  @include vp-768 {
    margin-left: 6%;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 28px;
  }
}
