.slider {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  @include vp-1200 {
    width: 100%;
  }

  @include vp-768 {
    width: 100%;
  }
}

.slider__container {
  position: relative;
  background-color: $color-navy-blue;
}

.slider__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider__content {
  width: 1440px;
  position: relative;

  @include vp-1200 {
    width: 100%;
  }
}


.slider__image-container picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-768 {
    width: 100%;
    height: 100%;
    min-height: 568px;
  }
}

.slider__image-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: $color-navy-blue;

  @include vp-1200 {
    height: 1024px;
  }

  @include vp-768 {
    height: 100%;
  }
}

.slider__overlay {
  position: relative;
  min-height: 800px;
  width: 100%;
  max-width: 1440px;
  color: $color-default-white;
  padding: 182px 120px 80px;
  background: linear-gradient(112deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0.00) 94.93%);

  @include vp-1440 {
    padding: 144px 45px 90px;
  }

  @include vp-1200 {
    width: 100%;
    max-width: none;
    padding: 174px 45px 90px;
    min-height: 568px;
  }

  @include vp-768 {
    padding: 60px 15px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.slider__content-wrapper {
  display: flex;
  margin-bottom: 58px;

  &--second {
    margin-bottom: 151px;
  }

  &--third {
    margin-bottom: 151px;
  }

  @include vp-1440 {
    margin-bottom: 0;

    &--second {
      margin-bottom: 50px;
    }

    &--third {
      margin-bottom: 50px;
    }
  }

  @include vp-1200 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  @include vp-768 {
    height: 100%;

    &--second {
      margin-top: 20px;
    }

    &--third {
      margin-top: 20px;
    }
  }
}

.slider__text-column {
  position: relative;

  @include vp-1200 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}

.slider__features {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 50%;

  @include vp-1200 {
    display: none;
  }
}

.slider__feature {
  padding: 12px 19px;
  border: solid 1px $color-default-white;
  color: $color-default-white;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__feature-icon {
  margin-right: 8px;
}

.slider__header {
  font-family: $ff-primary;
  color: $color-default-white;
  font-size: 77px;
  font-style: normal;
  font-weight: 800;
  line-height: 77px;
  margin: 0;
  margin-bottom: 24px;
  position: relative;
  width: 130%;
  z-index: 1;

  @include vp-1440 {
    width: 150%;
  }

  @include vp-1200 {
    position: static;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
    width: 90%;

    &--third {
      width: 100%;
    }
  }

  @include vp-768 {
    font-size: 30px;
    width: 100%;
    line-height: 30px;
  }
}

.slider__text {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 36px;
  width: 62%;

  &--second {
    width: 65%;
  }

  @include vp-1200 {
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
    width: 70%;

    &--second {
      width: 80%;
    }

    &--third {
      width: 70%;
    }
  }

  @include vp-768 {
    font-size: 15px;
    width: 100%;
    margin-bottom: 17px;
    line-height: 20px;
  }
}

.slider__more-button {
  width: 220px;
  background-color: $color-navy-blue;
  border: solid 1px $color-navy-blue;
  color: $color-default-white;
  padding: 19px 0;
  cursor: pointer;
  font-size: 16px;

  @include vp-1200 {
    width: 206px;
    padding: 19px 0;
    font-size: 16px;
  }

  @include vp-768 {
    min-width: 180px;
    width: 62%;
    padding: 16px 0;
  }
}

.slider__more-button:hover {
  background-color: $color-default-white;
  color: $color-resolution-blue;
  border: solid 1px $color-resolution-blue;
}

.slider__more-button:active {
  background-color: $color-resolution-blue;
  color: $color-default-white;
  border: solid 1px $color-resolution-blue;
}

.slider__more-button:focus-visible {
  outline: none;
  background-color: $color-default-white;
  color: $color-resolution-blue;
  border: solid 1px $color-resolution-blue;
}

.slider__more-button:disabled {
  opacity: 0.1;
  cursor: default;
}

.slider__media {
  width: 482px;
  flex-shrink: 0;
  position: relative;

  @include vp-1200 {
    width: 442px;
    margin-top: -15px;
    position: static;
  }

  @include vp-768 {
    display: none;
  }
}

.slider__media-wrapper {
  position: absolute;
  right: 0;
  top: 20px;

  @include vp-1200 {
    position: static;
  }
}

.slider__media-img {
  width: 445px;
  height: auto;
  padding-left: 35px;

  @include vp-1200 {
    padding-left: 0;
  }
}

.slider__item {
  height: auto;

  .slider__overlay {
    display: none;
  }

  &.swiper-slide-active {
    .slider__overlay {
      display: block;

      @include vp-768 {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
