.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;

  @include vp-1200 {
    padding: 0 32px;
  }

  @include vp-768 {
    padding: 0 24px;
  }

  @include vp-320 {
    padding: 0 16px;
  }
}
