.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.rouble {
  font-family: $ff-rouble;
  /* stylelint-disable */
  text-transform: lowercase !important;
  font-weight: 400 !important;
  /* stylelint-enable */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-transition {
  /* stylelint-disable-next-line */
  transition: none !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.swiper-button-prev::after,
.swiper-rtl .swiper-button-next::after {
  content: "←";
  color: inherit;
  font-size: 18px;
  padding-bottom: 4px;
  color: $color-default-white;
}

.swiper-button-prev:hover::after,
.swiper-rtl .swiper-button-next:hover::after {
  color: $color-resolution-blue;
}

.swiper-button-prev:active::after,
.swiper-rtl .swiper-button-next:active::after {
  color: $color-default-white;
}

.swiper-button-prev:focus-visible::after,
.swiper-rtl .swiper-button-next:focus-visible::after {
  color: $color-resolution-blue;
}

.swiper-button-next::after,
.swiper-rtl .swiper-button-prev::after {
  content: "→";
  color: $color-default-white;
  font-size: 18px;
  padding-bottom: 4px;
}

.swiper-button-next:hover::after,
.swiper-rtl .swiper-button-prev:hover::after {
  color: $color-resolution-blue;
}

.swiper-button-next:active::after,
.swiper-rtl .swiper-button-prev:active::after {
  color: $color-default-white;
}

.swiper-button-next:focus-visible::after,
.swiper-rtl .swiper-button-prev:focus-visible::after {
  color: $color-resolution-blue;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets .swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 81px;
  right: 0;
  width: 70px;
  left: 1257px;
  display: flex;
  justify-content: flex-start;
  gap: 7px;

  @include vp-1440 {
    width: 100%;
    bottom: 10px;
    left: 520px;
    justify-content: center;
    gap: 7px;
  }

  @include vp-1200 {
    width: 100%;
    bottom: 70px;
    left: 0;
    justify-content: center;
    gap: 7px;
  }

  @include vp-768 {
    padding-bottom: 0;
    bottom: 40px;
    gap: 4px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: $color-transparent;
  border-radius: 50%;
  border: solid 1px $color-default-white;
  opacity: 1;

  @include vp-768 {
    width: 8px;
    height: 8px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: $color-default-white;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  background-color: rgba(2, 102, 193, 0.10);
  border-color: rgba(2, 102, 193, 0.10);
}

.swiper-button-prev.swiper-button-disabled::after,
.swiper-button-next.swiper-button-disabled::after {
  opacity: 1;
  color: $color-default-white;
}
